body{
    background-color: #ffffff;
    font-family: 'Courgette', cursive;

}
a{
    margin-left: 20%;
    text-decoration: none;
    font-size: 20px;
    color: white;

}
.header{
    background-color:black;
    padding: 20px;
    position: fixed;
    margin-top: -10%;
    width: 100%;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    
}
.artgenres{
    /* margin-top: 5%; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 12%;
}
.artgenres img{
    width: 90%;
    height: 70vh;
   

}
.artgenres p{
    margin-bottom: 10%;
    text-align: center;
}
.paintings{
    
}
.paintings img{
    height: 85vh;
    width: 90%;
    border-radius: 40px;
}
.allarts{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-left: 0%;
    
}.allborders{
    border: solid 20px rgb(75, 70, 67);
    margin-top: 28%;
    margin-left: 8%;
    width: 80%;
    height: 30vh;
}.allarts p{
    margin-left: 35%;
}
.allarts img{
    width: 60%;
    height: 30vh;
    margin-top: 5%;
    margin-left: 20%;
    /* border-radius: 20px; */
    
}
footer{
    background-color: black;
    color: white;
    height: 10vh;
    text-align: center;
    padding-top: 20px;
    margin-top: 10%;
}
