.sign{
    display: grid;
}
.signup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 30px;
    border: solid 2px;
    
}
.secondside{
    background-color: aqua;
    height: 95vh;
    border-radius: 30px;
   
}
input{
    margin-top: 3%;
    width: 70%;
    margin-left: 20%;
    height: 7vh;
}
label{
    margin-left: 20%;
    margin-top: 5%;
}
#secondp{
    font-size: 30px;
    margin-top: 38%;
    /* text-align: center; */
}

.clickable{
    width: 50%;
    height: 7vh;
    margin-left: 23%;
    background-color: aqua;
    border-color: aqua;
    border-radius: 30px;
}
p{
    margin-left: 30%;
}